<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:#FF0000">Welcome to secretsanta.com, <%= @participant.name %></h1>
    <p>
      You have been selected by <%= @user.email %> to participate in Secret Santa,
      you will have to give a gift to: <%= @user.email %>.<br>
    </p>
    <p>
      The amount of the gift must be <%= @event.gift_amount %> euros.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
