<%= simple_form_for @event do |f| %>
  <%= f.input :event_date %>
  <%= f.input :gift_amount, placeholder: 'Amount to spend' %>

  <%= f.abyme_for(:participants) do |abyme| %>
    <div class="form-group">
      <%= abyme.records %>
      <%= abyme.new_records %>
      <%= add_associated_record %>
    </div>
  <% end %>
  <%= f.submit "Create my event", class: "btn btn-success border mt-3" %>
<% end %>

<p><%= link_to "Back to homepage", root_path, class:"btn btn-primary" %></p>
